Builds/
build/
.cache
.vscode/c_cpp_properties.json
.vscode/settings.json
JuceLibraryCode/
Installers/
sdk/
Scripts/venv
venv
.agent/
.vscode/
formatcode.sh
AGENTS.md
agents.md
clang_format
.clang-format